.btn{
    background-color: rgb(233, 0, 102) !important;
    border-color: rgb(233, 0, 102) !important;
    border-radius: 8px !important;
}

.bg{
    background-color: rgb(10, 38, 238) !important; 
    border-color: rgb(10, 38, 238) !important;
    border-radius: 8px !important;
}   

.addRecruiterForm{
    padding-top: 5%;
}