.btn{
    background-color: rgb(233, 0, 102);
    border-color: rgb(233, 0, 102);
    border-radius: 8px;
}

.bg{
    background-color: rgb(10, 38, 238);
    border-color: rgb(10, 38, 238);
    border-radius: 8px;
}