.container {
  display: flex;
}

.txtContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.txt {
  font-weight: 300;
}

.message {
  font-weight: 700;
}

.secondContainer {
  padding-top: 5%;
}

.picture {
  max-width: 30%;
}
