.container{
    display: flex;
    justify-content: center;
    gap: 1%;
}

.txtContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.txt{
    font-weight: 300;
}

.paragraphs{
    text-align: left;
}

.message{
    font-weight: 700
}

.secondContainer{
    padding-top: 9%;
    padding-left: 10%;
}

.picture{
    max-width: 30%;
}