
.containerProgress{
    display: flex;
    flex-direction: column;
}
.containerIcon{
    display: flex;
    font-size: 1.7rem;
    position: static;
    width: 130px;
    color: rgb(200, 215, 1);
}
.containerBarra{
    position: absolute;
    width: 130px;
    .progressBarra{
        height: 30px !important;
        background-color: #e9ecef00 !important;
    }
}
