input[type="radio"]{
    display:none;
}

.star{
    cursor: pointer;
    transition: color 200ms;
    text-align: center;
}

.title{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    padding-bottom: 3%;
}

.container{
    text-align: center;
    padding-top: 12%;
}

.btn{
    background-color: rgb(233, 0, 102) !important;
    border-color: rgb(233, 0, 102) !important;
    border-radius: 8px !important;
}

.bg{
    background-color: rgb(10, 38, 238) !important;
    border-color: rgb(10, 38, 238) !important;
    border-radius: 8px !important;
}

.totalCandidates{
    padding-top: 3%;
    padding-bottom: 2%;
}