.userContainer{

    width: 100%;
}

.tbodyContainer{
width: 100%;
}

.btn{
    background-color: rgb(233, 0, 102);
    border-color: rgb(233, 0, 102);
}

.bg{
    background-color: rgb(10, 38, 238);
    border-color: rgb(10, 38, 238);
}