@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.tbodyContainer {
  font-family: "Poppins", sans-serif;

  td {
    width: 30%;
  }
}

.buttonAdd {
  width: 10rem;
  color: #fe0068;
}

.buttonDeleteRecruiter {
  background-color: #fe0068 !important;
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 3rem;
  border-radius: 100px 100px 100px 100px;

  &:hover {
    background-color: #fe0068;
  }
}

.buttonsAddRecruiter {
  background-color: #0a26ee !important;
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 3rem;
  border-radius: 100px 100px 100px 100px !important;

  &:hover {
    background-color: #0a26ee;
  }
}

.titleContainer{
  display: flex;
  gap: 6%;
  padding-bottom: 3%;
}

.title{
  padding-left: 4%;
}

.addSearchBtn{
  background-color: #0a26ee !important;
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 3rem;
  border-radius: 100px 100px 100px 100px !important;

  &:hover {
    background-color: #0a26ee;
  }
}