.containerSearch{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;

  @media screen and(max-width: 1000px) {
      justify-content: center;
  }

  .img1{
    @media screen and(max-width: 1000px) {
      height:0rem;
      width: 0rem;
    }
  height:25rem;
  width: 25rem;
  }
  .img2{
    @media screen and(max-width: 1000px) {
      height:0rem;
      width: 0rem;
    }
  margin-top:8rem;
  height:25rem;
  width: 30rem;
  }

  .containerForm{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  .top{
    @media screen and(max-width: 767px) {
      margin-top: 16px;
    }
  }
}


.imgContainer{
  display: flex;
  flex-direction: column;
}

